.container {
  background: #fcfcfc;
  padding: 40px 0;
}

.inner {
  text-align: center;
}

.header {
  font-weight: 500;
  font-size: 2rem;
  color: #5936a4;
  letter-spacing: 1.2rem;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 70px;
}


@media (max-width: 400px) {
  .header {
    letter-spacing: 0.5rem;
  }

  .projects {
    justify-content: center;
    margin: 20px 5px;
  }
}
