.container {
  padding: 40px 0;
}

.contactContainer {
  text-align: center;
}

.contact {
  font-weight: 500;
  font-size: 2rem;
  color: #5936a4;
  letter-spacing: 1.2rem;
}

.formContainer {
  margin: 70px 0;
}

.inputContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

input {
    width: 50%;
    border: 1.5px solid #5936a4;
    height: 70px;
    font-size: 1.2rem;
    text-indent: 1rem;
}

input::placeholder {
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-indent: 1rem;
}

textarea {
    width: 50%;
    border: 1.5px solid #5936a4;
    height: 140px;
    font-size: 1.2rem;
    text-indent: 1rem;
}

textarea::placeholder {
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-indent: 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

button {
  width: 50%;
  border: 1.5px solid #5936a4;
  background-color: #5936a4;
  color: #fff;
  height: 70px;
  font-size: 1.4rem;
  letter-spacing: 1rem;
}

@media (max-width: 800px) {
  button, input, textarea{
    width: 80%;
  }

}

@media (max-width: 400px) {
  .header {
    letter-spacing: 0.5rem;
  }
}
